.body{
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  
}
 header{
    grid-area: header;
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.settings{
    
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-top: 30px;
    padding-left: 30%;
    font-size: 30px;
    position: relative;
    font-family: Arial;
}

.maze{
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-left: 12%;
    width: 400px;
}

.playButton{
    width: 80px;
    height: 32px;
    border-radius: 5px;
    transition-duration: 0.4s;

}
.level{
    width: 80px;
    height: 32px;
    background-color: deepskyblue;
}
.playButton:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);

    background-color:deepskyblue;
}

.result{
    grid-area: footer;
    /* padding-top:17%; */
    padding-left: 38%;
    color: blue;
    font-size: 40px;
}



.controllers{
    position: relative;
    left: 60%;
    top: 250px;
    display: grid;
    grid-gap: 20px 20px;
    grid-template-areas:
    '. up .'
    'left . right'
    '. down .';
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: max-content max-content max-content;
    padding-bottom: 0px;
    
   
}
.up {
    
    height: 25px;
    width: 60px;
    grid-area: up;
}

.right {
    height: 25px;
    width: 60px;
    grid-area: right;
}

.down {
    height: 25px;
    width: 60px;
    grid-area: down;
}

.left {
    height: 25px;
    width: 60px;
    grid-area: left;
}
.base-timer {
    /*left: 100px;
    bottom: 250px;*/
    top: 300px;
    position: absolute;
    width: 150px;
    height: 150px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}






/* set global font to Open Sans */
body {
  font-family: 'Open Sans', 'sans-serif';
  background-image: url(http://benague.ca/files/pw_pattern.png);
}

/* header */
h1 {
  color: #55acee;
  text-align: center;
}

/* header/copyright link */
.link {
  text-decoration: none;
  color: #55acee;
  border-bottom: 2px dotted #55acee;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
}

.link:hover {
  color: #2ecc71;
  border-bottom: 2px dotted #2ecc71;
}

/* button div */
button
{
  width: 100px;
  height: 50px;
  border:1px solid ;
}
#all
{

  width: 300px;
  float: right;
}
#UP {
  
  text-align: center;
  width: 300px;
  
  
}

#MID {
  
  text-align: center;
  width: 300px;
  

  
}
#DOWN {
  
  text-align: center;
  width: 300px;
  
  
  
}
/* start da css for da buttons */
.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color: #55acee;

}

.blue:hover {
  background-color: #6FC6FF;
}

.green {
  background-color: #2ecc71;
 
}

.green:hover {
  background-color: #48E68B;
}
